<div class="gameboy relative w-[350px] h-[570px] mx-auto rounded-[20px] p-5 bg-[#4f50db] font-sans">
  <!-- SCREEN -->
  <div class="screen-area relative pt-[35px] px-[30px] pb-[5px] rounded-[15px] bg-[#23252d] text-[#67879a]">
    <%= image_tag "fire-red.jpg", class: "w-full h-full mb-3 bg-[#929d97] rounded-[3px] object-cover object-center" %>

    <!-- GAME BOY TEXT -->
    <div class="relative text-center text-xl z-10">
      <div class="inline font-bold italic">GAME BOY</div>
      <div class="inline font-bold text-[22px] tracking-[-3px]">
        <span class="inline-block text-[#aa2058]">C</span>
        <span class="inline-block text-[#605bd9] text-xl">O</span>
        <span class="inline-block text-[#78b930] -rotate-[10deg]">L</span>
        <span class="inline-block text-[#b6b524] text-xl">O</span>
        <span class="inline-block text-[#317aaf]">R</span>
      </div>
    </div>
  </div>

  <!-- NINTENDO TEXT -->
  <div class="nintendo px-[5px] w-[82px] text-[#3436bf] font-bold text-center mt-[30px] mx-auto border-2 border-[#3436bf] rounded-[11px]">Nintendo</div>

  <div class="flex justify-between">
    <!-- DPAD -->
    <div class="dpad relative inline-block w-[90px] h-[90px] z-10">
      <!-- UP -->
      <div class="up absolute w-[33%] h-[33%] bg-[#565e6a] cursor-pointer top-[4px] left-[33%] border-l-[4px] border-r-[4px] border-t-[4px] border-b-0 border-black rounded-tl-[5px] rounded-tr-[5px] flex justify-center items-center from-[#565e6a] to-[#333] transition-all active:bg-gradient-to-t" data-button="Up" data-action="click->button#sendButtonPress">
        <svg fill="#333a4a" viewBox="0 0 24 24">
          <polygon style="fill-rule:evenodd;clip-rule:evenodd;" points="3,19 21,19 12,6 "/>
        </svg>
      </div>
      <!-- RIGHT -->
      <div class="right absolute w-[33%] h-[33%] bg-[#565e6a] cursor-pointer top-[33%] left-[calc(66%-4px)] border-t-[4px] border-b-[4px] border-r-[4px] border-l-0 border-black rounded-tr-[5px] rounded-br-[5px] flex justify-center items-center from-[#565e6a] to-[#333] transition-all active:bg-gradient-to-t" data-button="Right" data-action="click->button#sendButtonPress">
        <svg viewBox="0 0 24 24" >
          <path fill="#333a4a" d="M9 3.9l8.1 8.1L9 20.1z"/>
          <path fill="none" d="M0 0h24v24H0z"/>
        </svg>
      </div>
      <!-- DOWN -->
      <div class="down absolute w-[33%] h-[33%] bg-[#565e6a] cursor-pointer top-[calc(66%-4px)] left-[33%] border-l-[4px] border-r-[4px] border-b-[4px] border-t-0 border-black rounded-bl-[5px] rounded-br-[5px] flex justify-center items-center from-[#565e6a] to-[#333] transition-all active:bg-gradient-to-t" data-button="Down" data-action="click->button#sendButtonPress">
        <svg fill="#333a4a" viewBox="0 0 24 24">
          <polygon style="fill-rule:evenodd;clip-rule:evenodd;" points="3,6 21,6 12,19 "/>
        </svg>
      </div>
      <!-- LEFT -->
      <div class="left absolute w-[33%] h-[33%] bg-[#565e6a] cursor-pointer top-[33%] left-[calc(0%+4px)] border-t-[4px] border-b-[4px] border-l-[4px] border-r-0 border-black rounded-tl-[5px] rounded-bl-[5px] flex justify-center items-center from-[#565e6a] to-[#333] transition-all active:bg-gradient-to-t" data-button="Left" data-action="click->button#sendButtonPress">
        <svg viewBox="0 0 24 24">
          <path fill="#333a4a" d="M15 20.1L6.9 12 15 3.9z"/>
          <path fill="none" d="M0 0h24v24H0z"/>
        </svg>
      </div>
      <!-- MIDDLE -->
      <div class="middle absolute w-[33%] h-[33%] bg-[#565e6a] cursor-pointer top-[33%] left-[33%] -z-10"></div>
    </div>

    <!-- A & B BUTTONS -->
    <div class="a-b relative inline-block w-[120px] h-[90px]">
      <button class="b absolute top-[35px] left-0 inline-block text-[22px] w-10 h-10 rounded-[50%] bg-[#2c313e] border-b-2 border-b-[#888] text-[#2c313e] text-center leading-10 cursor-pointer active:border-0 active:leading-[45px]" data-button="B" data-action="click->button#sendButtonPress">B</button>
      <button class="a absolute top-[15px] right-[10px] inline-block text-[22px] w-10 h-10 rounded-[50%] bg-[#2c313e] border-b-2 border-b-[#888] text-[#2c313e] text-center leading-10 cursor-pointer active:border-0 active:leading-[45px]" data-button="A" data-action="click->button#sendButtonPress">A</button>
    </div>
  </div>

  <!-- SELECT & START BUTTONS -->
  <div class="start-select w-full h-[60px] flex justify-center">
    <div class="select inline-block text-[#6b67ed] tracking-[-1px] w-[60px] text-center mt-[60px]" data-button="Select" data-action="click->button#sendButtonPress">SELECT</div>
    <div class="start inline-block text-[#6b67ed] tracking-[-1px] w-[60px] text-center mt-[60px]" data-button="Start" data-action="click->button#sendButtonPress">START</div>
  </div>

  <!-- SPEAKER -->
  <div class="speaker absolute bottom-[5px] right-[15px] w-[75px] h-[75px] flex flex-wrap justify-between z-50 transform skew-y-[-10deg]">
    <div class="w-[7px] h-[7px] m-[1px] rounded-[50%] bg-transparent"></div>
    <div class="speaker-open bg-[#0a0717] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-closed bg-gradient-to-b from-[#6664e5] to-[#2d3590] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-open bg-[#0a0717] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-closed bg-gradient-to-b from-[#6664e5] to-[#2d3590] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-open bg-[#0a0717] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-closed bg-gradient-to-b from-[#6664e5] to-[#2d3590] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="w-[7px] h-[7px] m-[1px] rounded-[50%] bg-transparent"></div>
    <div class="speaker-open bg-[#0a0717] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-closed bg-gradient-to-b from-[#6664e5] to-[#2d3590] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-open bg-[#0a0717] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-closed bg-gradient-to-b from-[#6664e5] to-[#2d3590] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-open bg-[#0a0717] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-closed bg-gradient-to-b from-[#6664e5] to-[#2d3590] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-open bg-[#0a0717] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-closed bg-gradient-to-b from-[#6664e5] to-[#2d3590] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-closed bg-gradient-to-b from-[#6664e5] to-[#2d3590] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-open bg-[#0a0717] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-closed bg-gradient-to-b from-[#6664e5] to-[#2d3590] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-open bg-[#0a0717] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-closed bg-gradient-to-b from-[#6664e5] to-[#2d3590] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-open bg-[#0a0717] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-closed bg-gradient-to-b from-[#6664e5] to-[#2d3590] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-open bg-[#0a0717] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-open bg-[#0a0717] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-closed bg-gradient-to-b from-[#6664e5] to-[#2d3590] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-open bg-[#0a0717] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-closed bg-gradient-to-b from-[#6664e5] to-[#2d3590] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-open bg-[#0a0717] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-closed bg-gradient-to-b from-[#6664e5] to-[#2d3590] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-open bg-[#0a0717] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-closed bg-gradient-to-b from-[#6664e5] to-[#2d3590] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-closed bg-gradient-to-b from-[#6664e5] to-[#2d3590] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-open bg-[#0a0717] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-closed bg-gradient-to-b from-[#6664e5] to-[#2d3590] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-open bg-[#0a0717] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-closed bg-gradient-to-b from-[#6664e5] to-[#2d3590] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-open bg-[#0a0717] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-closed bg-gradient-to-b from-[#6664e5] to-[#2d3590] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-open bg-[#0a0717] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-open bg-[#0a0717] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-closed bg-gradient-to-b from-[#6664e5] to-[#2d3590] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-open bg-[#0a0717] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-closed bg-gradient-to-b from-[#6664e5] to-[#2d3590] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-open bg-[#0a0717] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-closed bg-gradient-to-b from-[#6664e5] to-[#2d3590] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-open bg-[#0a0717] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-closed bg-gradient-to-b from-[#6664e5] to-[#2d3590] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-closed bg-gradient-to-b from-[#6664e5] to-[#2d3590] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-open bg-[#0a0717] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-closed bg-gradient-to-b from-[#6664e5] to-[#2d3590] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-open bg-[#0a0717] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-closed bg-gradient-to-b from-[#6664e5] to-[#2d3590] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-open bg-[#0a0717] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-closed bg-gradient-to-b from-[#6664e5] to-[#2d3590] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-open bg-[#0a0717] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="w-[7px] h-[7px] m-[1px] rounded-[50%] bg-transparent"></div>
    <div class="speaker-closed bg-gradient-to-b from-[#6664e5] to-[#2d3590] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-open bg-[#0a0717] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-closed bg-gradient-to-b from-[#6664e5] to-[#2d3590] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-open bg-[#0a0717] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-closed bg-gradient-to-b from-[#6664e5] to-[#2d3590] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="speaker-open bg-[#0a0717] w-[7px] h-[7px] m-[1px] rounded-[50%]"></div>
    <div class="w-[7px] h-[7px] m-[1px] rounded-[50%] bg-transparent"></div>
  </div>
</div>
