<div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full items-end justify-center py-4 sm:items-center sm:p-0">
      <div class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-sm sm:p-6">
        <%= form_with model: @player do |f| %>
          <% if @player.errors.any? %>
            <ul class="list-disc list-inside mb-4 text-sm text-red-500">
              <% @player.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <% end %>

          <div class="mb-4">
            <%= f.label :name, class: "block text-sm font-medium leading-6 text-gray-900" %>
            <%= f.text_field :name, class: "block mt-1 w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6", placeholder: "Pick a name", autofocus: true %>
          </div>

          <div class="mt-5 sm:mt-6">
            <button type="submit" class="inline-flex w-full justify-center rounded-md bg-indigo-100 px-3 py-2 text-sm font-semibold text-indigo-600 shadow-sm transition-colors hover:bg-indigo-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
              <span class="mr-1">Join</span>
              <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none">
                <g clip-path="url(#clip0_105_1855)">
                  <path d="M9 4.00024H19V18.0002C19 19.1048 18.1046 20.0002 17 20.0002H9" stroke="#4f46e5" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                  <path d="M12 15.0002L15 12.0002M15 12.0002L12 9.00024M15 12.0002H5" stroke="#4f46e5" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                </g>
                <defs>
                  <clipPath id="clip0_105_1855">
                    <rect fill="white" height="24" transform="translate(0 0.000244141)" width="24"/>
                  </clipPath>
                </defs>
              </svg>
            </button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
